<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.qa.util.ExtentReportManager" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.qa.task3LoginTest.Task3_LoginTest" />
			<class name="com.qa.db.DataBaseTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
